* {
    font-family: "Arial", sans-serif;
    color: #494949;
}
.list_content {
    padding: 0;
}
ul li {
    list-style-type: none;
    line-height: 1.7;
    font-size: 18px;
}
.header {
    text-align: center;
    padding: 30px 0px 50px 0px;
    box-sizing: border-box;
}
.header .header_avata {
    margin-bottom: 20px;
}
.header .header_avata img {
    border-radius: 50%;
    width: 150px;
}
.header .header_name h1 {
    text-transform: uppercase;
    font-size: 32px;
    color: #494949;
}
.header .header_name p {
    font-size: 18px;
}
.information_left,
.information_right {
    padding: 0 30px 0 30px;
}
.box {
    margin-bottom: 50px;
}
.title {
    border-left: 15px solid #7cc398;
    margin-bottom: 30px;
}
.title h3 {
    font-size: 28px;
    color: #444444;
    font-weight: 600;
    padding-left: 20px;
}
.university {
    display: flex;
    justify-content: flex-start;
    color: #444444;
    font-weight: 700;
    font-size: 18px;
}
.university p:first-child {
    margin-right: 5px;
}
.list_skill {
    display: flex;
    justify-content: space-between;
}
.list_content .skill_evaluate {
    width: 50%;
    height: 20px;
    background-color: #c5d8cc;
    margin-top: 5px;
}
.list_content .skill_evaluate .myskill_one {
    width: 80%;
    height: 100%;
    background-color: #7cc398;
}
.list_content .skill_evaluate .myskill_two,
.list_content .skill_evaluate .myskill_four,
.list_content .skill_evaluate .myskill_five {
    width: 40%;
    height: 100%;
    background-color: #7cc398;
}
.list_content .skill_evaluate .myskill_three {
    width: 60%;
    height: 100%;
    background-color: #7cc398;
}
